exportPattern("^[^\\.]")
import(stringr)
import(diagram)
import(ggplot2)
import(reshape2)
import(graphics)
import(grDevices)
import(matrixcalc)
import(gplots)
importFrom(stats, dist, cmdscale)
import(utils)
import(methods)
